:root {
    --main-color: #0C53E8;
    --danger-color:red;
    --safe-color: green;
}

.button {
    height:25px;
    padding:5px 15px;
    border:1px solid var(--main-color);
    display:inline-block;
    border-radius: 5px;
    cursor:pointer;
    transition: .3s;
}

.button:hover{
    background-color:var(--main-color);
    color:white;
}

.button--danger{
    border-color: var(--danger-color);
}

.button--danger:hover{
    background-color: var(--danger-color);
}

.button--safe{
    border-color:var(--safe-color);
}

.button--safe:hover{
    background-color: var(--safe-color);
}

